
<div class="lead">
    <h1>Downloads page</h1>
    <p>This partial view is where the exciting stuff now is!<p>
</div>
<div>
    <p>
        <a class="btn btn-info btn-sm" onclick="Download.downloadOnClick()" role="button">Download</a>
    </p>
</div>