<div class="jumbotron">
    <h1>Stream Downloader</h1>
    <p class="lead">Demonstrating the downloading of zip files as streams</p>
</div>

<!-- Divider -->
<hr class="bs-docs-separator" />

<div>
    <p>
        This demonstrates the creation of zip bundles of files stored on a server without the need the touch the server's file system. The requested files are assembled
        in a stream in the server's memory which is then served to the client as a zip. As it tumbles into their download folder it appears as a zip.
    </p>
    <p>Ready to start? Head to the downloads page to start a download and get breakpoints ready in the server code.</p>
    <p>
        <a class="btn btn-lg btn-warning" href="/Download/Download" role="button">To the downloads page!</a>
    </p>
</div>

<!-- Divider -->
<hr class="bs-docs-separator" />

<div class="row">
    <div class="col-md-6">
        <p>Want more?</p>
        <p><a class="btn btn-info btn-sm" href="http://github.com/Patypus?tab=repositories" target="_blank" role="button">Click here &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <p>Licence</p>
        <p>This is all available to the world. For free. For everyone.</p>
    </div>
</div>